* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.header {
  background-color: #1b1d2d;
  padding-block: 15px;
  padding-left: 100px;
  display: flex;
  color: #f9f9f9fa;
  margin-bottom: 30px;
}

.perfil-img img {
  margin-right: 30px;
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 50%;
  /* box-shadow: 0 4px 6px #f9f9f9fa; */
  /* border: 1px solid rgba(70, 102, 214, 0.6); */
  border: 2px solid #f9f9f9fa;
}
h1 {
  color: #f9f9f9fa;
  margin-top: 30px;
}
address {
  margin-top: 10px;
}
button {
  background-color: transparent;
  border: none;
  display: flex;
  color: #f9f9f9fa;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
button img {
  height: 25px;
  background-color: #f9f9f9fa;
  border-radius: 50%;
}

main {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  padding-right: 800px;
}

span {
  text-transform: uppercase;
  background-color: rgb(167, 165, 165);
  width: fit-content;
  height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-inline: 10px;
  font-size: 15px;
}

.bar {
  border-left: 2px solid black;
  height: fit-content;
  padding-left: 20px;
  margin-bottom: 15px;
}

.exp-more {
  margin-top: 15px;
}
ul {
  margin-top: 10px;
  margin-bottom: 30px;
}
li {
  margin-left: 30px;
  margin-top: 5px;
}
h5 {
  margin-block: 10px;
}

.end {
  margin-top: 10px;
}
